Repository yiisoft/queue-amqp, pull requests merged in 2023-04, with the labels that each got.

#66 (#5) Fixing the withDelay() method
  src/Middleware/DelayMiddleware.php
  tests/Unit/DelayMiddlewareTest.php
Labels: type:bug, type:test

#68 (#5) Added more tests
  tests/Unit/MessageSerializerTest.php
Labels: type:test

#69 Updated README.md
  README.md
Labels: documentation

#70 Added more tests
  tests/Integration/TestCase.php
  tests/Unit/MessageSerializerTest.php
  tests/Unit/QueueFactoryTest.php
  tests/Unit/QueueTest.php
Labels: type:test

#71 (#5) Mutations tests
  .github/workflows/mutation.yml
Labels: type:test, github_actions

#72 Updated .gitattributes
  .gitattributes
Labels: type:enhancement

#74 AMQP management plugin removal from GitHub Actions
  tests/.env.example
  tests/docker-compose.development.yml
  tests/docker-compose.yml
Labels: status:code review

#76 Add rector
  .github/workflows/rector.yml
  composer.json
  rector.php
  src/Exception/NoKeyInPayloadException.php
  src/Settings/Exchange.php
  src/Settings/Queue.php
  tests/Support/ExtendedSimpleMessageHandler.php
  tests/Unit/MessageSerializerTest.php
Labels: status:code review
